.container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.container-child {
  margin-right: 1rem;
}
.button {
  color: rgb(0, 0, 0);
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
  font-weight: bolder;
  background: #f8f8f8;
  border: 1px solid rgb(0, 0, 0);
  opacity: 0.8;
  font-family: monospace;
  transition: transform 0.1s ease;
}

.button:active {
  transform: translateY(2px);
}

label {
  font-weight: bold;
}
