@media print {
    body {
      margin: 0;
      padding: 0;
    }
  
    .print {
      display: none;
    }
  
    .preview-container {
      height: 111px;
      width: 520px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      overflow: hidden; /* Ensure content within the container is clipped */
    }
  
    .preview-content {
      border: none;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin: auto;
      border-radius: 12px;
      transform-origin: top left; /* Set the origin point for scaling */
      transform: scale(1); /* Initially set the scale to 1 */
    }
  
    .preview-content > * {
      visibility: visible !important;
      display: block !important;
    }
  }
  